##### 점프 투 파이썬
---
02장 연습문제

> Q1    
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [5]:
korean = 80
english = 75
math = 55
total = korean + english + math
average = total / 3

print("총점: ", total, "입니다.")
print("평균: ", average, "입니다.")

총점:  210 입니다.
평균:  70.0 입니다.

In [9]:
subjects = [80, 75, 55]
total = subjects[0] + subjects[1] + subjects[2]
avg = total / len(subjects)

print("평균: ", average, "입니다.")

<class 'list'>
평균:  70.0 입니다.

In [13]:
subjects = [80, 75, 55]
total = sum(subjects)
avg = total / len(subjects)

print("평균: ", average, "입니다.")

평균:  70.0 입니다.

In [16]:
subjects = {"국어":80, "영어":75, "수학":55}
total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)

print("평균: ", average, "입니다.")

평균:  70.0 입니다.

In [27]:
# 사용자로부터 이름과 성적을 입력받아 총점과 평균을 구해 출력하는 
# 프로그램을 작성하시오. 

name = input("이름을 입력하세요: ")
kor = input("국어 성적을 입력하세요: ")
eng = input("영어 성적을 입력하세요: ")
math = input("수학 성적을 입력하세요: ")
total = int(kor) + int(eng) + int(math)
avg = total / 3

print("이름: ", name)
print("총점: ", total)
print("평균: ", avg)

이름:  최건일
총점:  210
평균:  70.0

In [3]:
name = input("이름을 입력하세요: ")
kor = input("국어 성적을 입력하세요: ")
eng = input("영어 성적을 입력하세요: ")
math = input("수학 성적을 입력하세요: ")
total = int(kor) + int(eng) + int(math)
avg = total / 3

print("이름: %s\n총점: %d\n평균: %.2f"% (name, total, avg))

이름: 123
총점: 5031
평균: 1677.00

In [4]:
name = input("이름을 입력하세요: ")
kor = input("국어 성적을 입력하세요: ")
eng = input("영어 성적을 입력하세요: ")
math = input("수학 성적을 입력하세요: ")
total = int(kor) + int(eng) + int(math)
avg = total / 3

print(f"이름: {name}\n총점: {total}\n평균: {avg}")

이름: 123
총점: 113
평균: 37.666666666666664

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [27]:
num = 13
if num%2 >0:
    print("홀수입니다.")
else :
    print("짝수입니다.")

홀수입니다.

In [7]:
num = input("자연수를 입력해 주세요: ")
# num = int(input("자연수를 입력해 주세요: "))
if int(num)%2 == 0:
    print("짝수입니다.")
else :
    print("홀수입니다.")

짝수입니다.

In [11]:
# 2n + 1, 2n - 1

num = input("자연수를 입력해 주세요: ")
if num[-1] in "02468":
    print("짝수입니다.")
else :
    print("홀수입니다.")

홀수입니다.

In [ ]:
# [all] 'and' 는 모두 참이어야 참
# 순서대로 계산할 때 앞에서 false가 나면 뒤에 확인 안하고 false -> 연산속도 영향
# True and True and False -> False
# [any] 'or' 은 하나만 참이어도 참 
# False or False or and True-> True
# 나이가 60세 이상이거나 국가 유공자는 무료입니다.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [19]:
code = '881120-1068234'
YYYYMMDD = code[:6]
num = code[7:]
print("앞자리:",YYYYMMDD)
print("뒷자리:",num)

앞자리: 881120
뒷자리: 1068234

In [18]:
code = input("주민등록번호 - 없이 입력해 주세요: ")
YYYYMMDD = code[:6]
num = code[6:]
print("앞자리:",YYYYMMDD)
print("뒷자리:",num)

앞자리: 881120
뒷자리: 1068234

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [21]:
code = "881120-1068234"
gender = code[7]
if gender == '1':
    print("남성입니다.")
else:
    print("여성입니다.")

남성입니다.

In [1]:
code = input("주민등록번호 - 없이 입력해 주세요: ")
gender = code[6]
if gender == '1':
    print("남성입니다.")
else:
    print("여성입니다.")

남성입니다.

In [33]:
# 주민번호 13자리를 입력받아 출생년도와 나이 성벼을 출력해주는 프로그램을 작성하시오.
# 881120-1068234
pin = input("주민등록번호 - 없이 입력해 주세요: ")
age = pin[:2]
print("출생년도:",age,"년")
gender = pin[6]
if gender == '1':
    print("남성입니다.")
else:
    print("여성입니다.")

출생년도: 88 년
여성입니다.

In [93]:
pin = "8011121074610"
yyyymmdd = pin[:6]
gender = pin[6] 

if gender in "12":
    year = '19'+ yyyymmdd[:1+1]
elif gender in "34":
    year = '20'+ yyyymmdd[:1+1]    

age = 2022 - int(year) + 1

print(f"태어난 년도는 {year}이고, 올해 {age}살 입니다.")

if int(gender) % 2 == 0:
    print("여성입니다.")
else:
    print("남성입니다.")

태어난 년도는 1980이고, 올해 43살 입니다.
남성입니다.

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [39]:
text = "a:b:c:d"
b = text.replace(":", "#")
print(b)

a#b#c#d
Java Programing

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [43]:
a = [100, 30, 50, 40, 20, 95]
a.sort()
print(a)
a.reverse()
print(a)
max(a) == a[0]

[20, 30, 40, 50, 95, 100]
[100, 95, 50, 40, 30, 20]

True

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [49]:
old_text = ['Life', 'is', 'too', 'short']
# new_text = old_text[0] + " " + old_text[1] + " " + old_text[2] + " " + old_text[3]
new_text = ""
for s in old_text:
    print(new_text)
    new_text += s + " "

print(new_text)

Life
Life is
Life is too
Life is too short

In [53]:
old_text = ['Life', 'is', 'too', 'short']
new_text = "{} {} {} {}".format(old_text[0], old_text[1], old_text[2], old_text[3],)
print(new_text)

Life is too short

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [71]:
objects = ['a', 1, True, [100, ['x', 'y']]]
objects[-1][1][1]


li = [1, 2, 3]
tu = (1, 2, 3)

li[0] = 100
print("li =", li)

li2 = [1, 2, 3, 4]
tu2 = tuple(li2)
print("tu2=", tu2)

li = [100, 2, 3]
tu2= (1, 2, 3, 4)

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [78]:
a = dict()
a['name'] = 'python'
a[('a',)] = 'python'   
# a[[1]] = 'python'
a[250] = 'python'

print(a)
# key에는 리스트가 들어갈 수 없다. key는 중복되서는 안되고 유일해야함.

{'name': 'python', ('a',): 'python', 250: 'python'}

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [97]:
a = {'A':90, 'B':80, 'C':70}   
a['B'] 
b = a.pop('B')
print(a)
print(b)

{'A': 90, 'C': 70}
80

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [99]:
# [1, 2, 3]             : 리스트
# (1, 2, 3)             : 튜플
# {'a':1, 'b':2, 'c':3} : 딕셔너리
# {1, 2, 3}             : 셋

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5] 
a2 = set(a)

print(a)
print(a2)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [102]:
a = b = [1, 2, 3]
print(id(a))
a[1] = 4   
print(b)
print(id(a))
#

2912452919808
[1, 4, 3]
2912452919808